@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

*:fullscreen,
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  overflow: auto !important;
}

.app {
  width: 100%;
  min-height: 100vh;
}
/* .composer-container {
  box-sizing: border-box;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png");
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
 */
.composer-container {
  padding: 10px 0px;
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
}

.inset-shadow {
  box-shadow: inset 0px 0px 8px 2px rgba(1, 1, 1, 0.2);
}

.bg-texture {
  background-image: url("./img/first-aid-kit.png");
}

.row {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bgred {
  background-color: red;
}

.custom-menu-btn {
  background-color: white;
}

.custom-menu-btn:hover {
  background-color: rgb(198, 250, 252);
}

.custom-menu-btn:active {
  background-color: rgb(41, 255, 255);
}

.custom-menu-btn {
  background-color: white;
}

.header {
  background-color: #fefefe;
  color: #494848;
}
.custom-menu {
  background-color: #fefefe;
}
